.header1{
    padding: 20px 50px;
    background-color:#092147;
    color: white;
    font-size: 26px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  
  span{
    padding: 3px 3px;
    border-top: 1px  solid #092147;
    border-bottom: 1px solid #092147;
    border-left: 1px solid #092147;
    border-right:1px solid #092147 ;
    border-radius: 50%;
    text-align: center;
  }
  