
  .main_content_ss{
    font-size: 17px;
    border-radius: 5px;
    margin-left:5%;
    padding-bottom: 2px;
    color: #666;
    border-radius: 5px;
  }

  .m{
    padding:30 px;
  }

  .ed{
    font-size: 15px;
    margin:5px;
  }

  .del{
    font-size: 15px;
    margin:5px;
  }

  .ad{
    font-size: 15px;
    margin:5px;
  }